spec/test_files/xml/catalog.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name='catalog'>
		<xs:complexType>
			<xs:sequence minOccurs="1" maxOccurs="unbounded">
				<xs:element name='cd' type='CD' />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="CD">
		<xs:sequence>
			<xs:element name="title" type="xs:string" />
			<xs:element name="artist" type="xs:string" />
			<xs:element name="country" type="xs:string" />
			<xs:element name="company" type="xs:string" />
			<xs:element name="price" type="xs:string" />
			<xs:element name="year" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

</xs:schema>
